<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AltaPagos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="SicerAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="DSN=ORACLE11_VIVIENDA;UID=VIVIENDA;PWD=VIVIENDA;" providerName="System.Data.Odbc"/>
  </connectionStrings>
  <appSettings>
    <add key="contentServerHost" value="localhost"/>
    <add key="contentServerPort" value="3099"/>
    <add key="idUser" value="pixel"/>
    <add key="password" value="pixel"/>
    <add key="indiceExpedientes" value="9"/>
    <add key="indicePagos" value="15"/>
    <add key="indRelExpPagos" value="19"/>
    <add key="indConceptoPagos" value="18"/>
    <add key="indConceptoPagos" value="18"/>
    <add key="indiceTipoIngresos" value="4"/>
    <add key="LabelopcionPeriodicidadCero" value=" --- "/>
    <add key="ValueopcionPeriodicidadCero" value="0"/>
    <add key="LabelopcionPeriodicidadUno" value="Mensual"/>
    <add key="ValueopcionPeriodicidadUno" value="1"/>
    <add key="LabelopcionPeriodicidadDos" value="Trimestral"/>
    <add key="ValueopcionPeriodicidadDos" value="3"/>
    <add key="LabelopcionPeriodicidadTres" value="Semestral"/>
    <add key="ValueopcionPeriodicidadTres" value="6"/>
    <add key="LabelopcionPeriodicidadCuatro" value="Anual"/>
    <add key="ValueopcionPeriodicidadCuatro" value="12"/>
    <add key="urlSearch" value="http://localhost/srwb521_canada"/>
    <add key="indiceComunicaciones" value="2"/>
    <add key="indRelExpComunicaciones" value="25"/>
    <add key="indiceTipoIngreso" value="4"/>
    <add key="idUserRegistroES" value="pixel"/>
    <add key="passwordRegistroES" value="pixel"/>
    <add key="indiceRegistroSalida" value="78"/>
    <add key="indiceIntereses" value="5"/>
    <add key="indRelExpComun" value="25"/>
    <add key="idOfficeServices" value="1"/>
    <add key="WorkflowDll_Settings" value="1"/>
    <add key="urlInteco" value="https://webpub4.igae.meh.es/intecoTEST/"/>
    <add key="es.meh.igae.webpub2.PublicTokenCert" value="https://webpub2.igae.meh.es/webtokenserdes/PublicTokenCert.asmx"/>
    <add key="usuarioInteco" value="WSINTECOMVI"/>
    <add key="CodUsuarioInteco" value="EPWS0001"/>
    <add key="ipUsuarioServicio" value=""/>
    <add key="sistemadeinformacion" value="INTECO"/>
    <add key="clavesistema" value="INTECO"/>
    <add key="x509Serial" value="00BB0000000000013F"/>
    <add key="servidorSFTP" value="ifs.correos.es"/>
    <add key="puertoSFTP" value="22"/>
    <add key="usuarioSFTP" value="s0123727"/>
    <add key="codCliSICER" value="80123727"/>
    <add key="codProdSICER" value="NT"/>
    <add key="codPuntoAdm" value="2826294"/>
    <add key="rutaClaveSFTP" value="C:\TEMP\s0123727.txt"/>
    <add key="indiceRemesa" value="33"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <globalization requestEncoding="ISO-8859-15" responseEncoding="ISO-8859-15"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AltaPagos.Service1AspNetAjaxBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="AltaPagos.Service1">
        <endpoint address="" behaviorConfiguration="AltaPagos.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="AltaPagos.Service1"/>
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="PixelwareApi.Data" switchName="sqlSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="PixelwareFileListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Pixelware.Applications.AltaPagos" switchValue="Error">
        <listeners>
          <add name="PixelwareFileListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="PixelwareApi.Common.WSE3" switchValue="Verbose">
        <listeners>
          <add name="PixelwareFileListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- 
                Poner a "Verbose" (o el nivel que se quiera las siguientes opciones:
                    internalSwitch:  Trazas con información interna de Integration Services y las operaciones que realiza
                    sqlSwitch: Trazas con las operaciones SQL sobre la base de datos
                    soapSwitch: Trazas con los mensajes SOAP que recibe y envía Integration Services
             -->
      <add name="sqlSwitch" value="Error"/>
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="PixelwareFileListener"/>
      </listeners>
    </trace>
    <sharedListeners>
      <add name="PixelwareFileListener" type="PixelwareApi.Common.Trace.AdvancedTraceListener, PixelwareApi.Common" initializeData="folderName='c:\pixeltemp',fileNameTemplate='AltaPagos-{1:MMM-yy}-{0:0000}.log', fileSizeThreshold=10, fileSizeUnit=megabytes, fileAgeThreshold=1, fileAgeUnit=months, fileCountThreshold=10, fixedColumnWidth=true, fieldSeparator=' ', addDateTime=true, dateTimeFormat='yyyy-dd-MM HH:mm:ss:fff', addTimeStamp=false, addPid=true, addTid=true, addWebSessionId=false, addWebRemoteAddr=false, addWebUrl=false, addCategory=false, addMethod=false, addEventType=true, addEventId=false,  addCallStack=false"/>
    </sharedListeners>
  </system.diagnostics>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/d:TRACE" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <applicationSettings>
    <AltaPagos.Properties.Settings>
      <setting name="DSN" serializeAs="String">
        <value>VIVIENDA</value>
      </setting>
      <setting name="USER" serializeAs="String">
        <value>VIVIENDA</value>
      </setting>
      <setting name="PASS" serializeAs="String">
        <value>VIVIENDA</value>
      </setting>
      <setting name="PORT" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="SERVER" serializeAs="String">
        <value>asd</value>
      </setting>
      <setting name="USERID" serializeAs="String">
        <value>U0000001</value>
      </setting>
      <setting name="RUTA_MODELO_DATOS" serializeAs="String">
        <value>ModeloDatos.xml</value>
      </setting>
      <setting name="UPLOAD_SICER" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SERVICE_SELLO" serializeAs="String">
        <value>http://localhost/search530/Servicio.asmx</value>
      </setting>
      <setting name="BordeSuperiorGrande" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AltaPagos_IntegrationServiceRegistroES_Integration" serializeAs="String">
        <value>http://localhost/IntegrationServices543/integration.asmx</value>
      </setting>
    </AltaPagos.Properties.Settings>
    <SicerAPI.Properties.Settings>
      <setting name="RUTA_MODELO_DATOS" serializeAs="String">
        <value>ModeloDatos.xml</value>
      </setting>
      <setting name="DSN" serializeAs="String">
        <value>VIVIENDA</value>
      </setting>
      <setting name="USER" serializeAs="String">
        <value>VIVIENDA</value>
      </setting>
      <setting name="PASS" serializeAs="String">
        <value>VIVIENDA</value>
      </setting>
      <setting name="PORT" serializeAs="String">
        <value>3099</value>
      </setting>
      <setting name="SERVER" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="USERID" serializeAs="String">
        <value>U0000001</value>
      </setting>
      <setting name="ERROR_EMAIL_FROM" serializeAs="String">
        <value/>
      </setting>
      <setting name="IndiceTablaSicer" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="IndiceTablaInteco" serializeAs="String">
        <value>49</value>
      </setting>
    </SicerAPI.Properties.Settings>
  </applicationSettings>
  <microsoft.web.services3>
    <policy fileName="wse3policyCache.config"/>
  </microsoft.web.services3>
</configuration>